.card-center{
  margin-top: 50px;
}
.user{
  text-align: center;
  color: olivedrab;
  display: block;
}
.table{
  margin: 50px;
}
.transaction{
  text-align: center;
  color: olivedrab;
  display: block;
  font-size: 26px;
  text-decoration-line: underline;
  font-weight: bold;
}